// color:
$primary-white: #ffff;
$primary-light: #bdbdbd;
$color-orange: #fe5303;
$color-dark: #222;
$primary-desc: #828282;

//font and space:
:root{
    --primary-font: "Playfair Display", serif;
    --space-sx: 8px;
    --space-sx1: 10px;
    --space-sm: 12px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 40px;
    --space-2xl: 74px;

}